## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Coihaique,CL,-45.5752,-72.0662,35.55,93,100,0.00,mist
1,1,Fairbanks,US,64.8378,-147.7164,74.61,59,98,1.01,overcast clouds
2,2,Grindavik,IS,63.8424,-22.4338,49.95,100,100,20.71,overcast clouds
3,3,New Norfolk,AU,-42.7826,147.0587,46.92,88,9,2.17,clear sky
4,4,Vengerovo,RU,55.6848,76.7471,62.69,82,65,6.82,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [5]:
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Fairbanks,US,64.8378,-147.7164,74.61,59,98,1.01,overcast clouds
5,5,Rikitea,PF,-23.1203,-134.9692,74.03,80,43,13.96,moderate rain
6,6,Salalah,OM,17.0151,54.0924,77.59,95,100,14.23,light rain
13,13,Mabaruma,GY,8.2000,-59.7833,74.75,98,100,2.37,overcast clouds
16,16,Atuona,PF,-9.8000,-139.0333,77.88,77,21,18.12,few clouds
17,17,Camocim,BR,-2.9022,-40.8411,77.79,78,98,11.30,overcast clouds
19,19,Albany,US,42.6001,-73.9662,73.81,57,15,3.74,few clouds
20,20,Nioaque,BR,-21.1353,-55.8300,75.00,41,2,4.74,clear sky
30,30,Puerto Ayora,EC,-0.7393,-90.3518,71.55,92,98,8.01,overcast clouds
31,31,Catamarca,AR,-28.4696,-65.7852,75.09,14,0,13.06,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                199
City                   199
Country                199
Lat                    199
Lng                    199
Max Temp               199
Humidity               199
Cloudiness             199
Wind Speed             199
Current Description    199
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Fairbanks,US,74.61,overcast clouds,64.8378,-147.7164,
5,Rikitea,PF,74.03,moderate rain,-23.1203,-134.9692,
6,Salalah,OM,77.59,light rain,17.0151,54.0924,
13,Mabaruma,GY,74.75,overcast clouds,8.2000,-59.7833,
16,Atuona,PF,77.88,few clouds,-9.8000,-139.0333,
17,Camocim,BR,77.79,overcast clouds,-2.9022,-40.8411,
19,Albany,US,73.81,few clouds,42.6001,-73.9662,
20,Nioaque,BR,75.00,clear sky,-21.1353,-55.8300,
30,Puerto Ayora,EC,71.55,overcast clouds,-0.7393,-90.3518,
31,Catamarca,AR,75.09,clear sky,-28.4696,-65.7852,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [10]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

In [11]:
# 6c. Get latitude and longitude from DataFrame
params["location"] = f"{lat},{lng}"

In [12]:
# 6d. Set up the base URL for the Google Directions API to get JSON data.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [13]:
 # 6e. Make request and retrieve the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [14]:
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

In [15]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Fairbanks,US,74.61,overcast clouds,64.8378,-147.7164,
5,Rikitea,PF,74.03,moderate rain,-23.1203,-134.9692,
6,Salalah,OM,77.59,light rain,17.0151,54.0924,
13,Mabaruma,GY,74.75,overcast clouds,8.2000,-59.7833,
16,Atuona,PF,77.88,few clouds,-9.8000,-139.0333,
...,...,...,...,...,...,...,...
694,Weihe,CN,72.59,overcast clouds,32.9952,105.3247,
699,Kuybyshevo,RU,70.47,light rain,47.8123,38.9073,
703,Waingapu,ID,78.84,broken clouds,-9.6567,120.2641,
705,Cap Malheureux,MU,71.56,few clouds,-19.9842,57.6142,
709,Zaraza,VE,75.18,overcast clouds,9.3503,-65.3245,Hotel Zaraza

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

In [22]:
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))